img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
h1{
		font-size: 65px;
		font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
		text-align: center;
		
	}
div{
	background :#E6E6FA;
}

.vl {
    border-left: 6px solid green;
    height: 500px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
hr {
    display: block;
    height: 4px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#imagem1-radio{
	font-size: 18px;
	font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
	text-align:center;
	 float: center;
	 margin: 0px auto;
}
#imagem2-radio{
	font-size: 18px;
	font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
	text-align:center;
	 float: center;
	 margin: 0px auto;
}
#imagem3-radio{
	font-size: 18px;
	font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
	text-align:center;
	 float: center;
	 margin: 0px auto;
}
#imagem4-radio{
	font-size: 18px;
	font-family:"Arial Black", "Arial Bold", Gadget, sans-serif;
	text-align:center;
	 float: center;
	 margin: 0px auto;
}
button{
		float: right;
	}
.mesmo-tamanho {
                    width: 95%;
                   
                    white-space: normal;
                }